{% extends 'base.html.twig' %}


{% block body %}

<div class="container mt-4 mb-5">
	<div class="row">
		<div class="welcome">
			<h1>{{'Bienvenue dans l\'Univers du Zoo Arcadia'}}</h1>
        </div>
        <div class="container mt-5">
            <div id="carousel-animals" class="carousel slide col" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item carousel-item-animal active">
                        <img 
                            src={{ asset('build/images/pandaroux.jpg') }}
                            class="d-block w-100 h-100"
                            alt="pandaroux"
                        />
                    </div>
                    <div class="carousel-item carousel-item-animal">
                        <img src={{ asset('build/images/lion.jpg') }} class="d-block w-100 h-100" alt="lion">
                    </div>
                    <div class="carousel-item carousel-item-animal">
                        <img src={{ asset('build/images/panda.jpg') }} class="d-block w-100 h-100" alt="panda" />
                    </div>
                </div>
                <button 
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carousel-animals"
                    data-bs-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{{'Previous'}}</span>
                </button>
                <button 
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carousel-animals"
                    data-bs-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{{'Next'}}</span>
                </button>
            </div>
        </div>

        <!-- Description -->
        
            <div class="description mt-4">
                {{
                    '<p>
                        Niché près de la légendaire forêt de Brocéliande depuis 1960, notre zoo est bien plus
                        qu\'un simple refuge pour les animaux. C\'est un sanctuaire où la nature rencontre 
                        l\'aventure.<br>
                        Dès que vous franchissez nos portes, vous êtes transportés dans un monde où la
                        biodiversité règne en maître. Notre vaste établissement abrite une mosaïque vivante 
                        d\'espèces animales, chacune évoluant dans des habitats soigneusement conçus pour
                        refléter leur environnement naturel. Des majestueux tigres aux     charmants,pandas roux,
                        en passant par les fascinants reptiles et les colorés papillons, chaque créature trouve
                        ici un où elle peut s\'épanouir.
                    </p>
                    <p>
                        De plus, nous offrons une multitude de services tels que
                        <span style="font-weight: bold;">
                            la restauration sur place, la visite des animaux en petit train mais aussi la
                            visite des habitats avec notre guide gratuitement.
                        </span>
                    </p>
                    <p>
                        Notre engagement envers le bien-être animal est inébranlable. Chaque jour, nos
                        équipes de professionnels dévoués veillent sur nos pensionnaires avec une attention
                        sans faille.<br>
                        Des examens de santé réguliers aux enrichissements environnementaux, nous mettons tout
                        en œuvre pour assurer leur confort et leur bonheur. Mais ce n\'est pas seulement un
                        lieu d\'observation passive.
                    </p>
                    <p>
                        En vous rendant chez nous, vous vous engagez dans une aventure interactive. Nous
                        disposons de divers habitats tels que la savane, le marais ou la jungle.Et ce n\'est
                        pas tout. Tout au long de l\'année, nous organisons une série d\'événements spéciaux,
                        des célébrations saisonnières aux journées thématiques, garantissant que chaque retour
                        chez nous soit une nouvelle expérience. Préparez-vous à une journée pleine de
                        découvertes, d\'émotions et de souvenirs durables. Chez nous, une aventure inoubliable
                        vous attend à chaque coin d\'enclos.
                    </p>
                '}}
            </div>

            <!-- Form comment -->
            <div class="container-avis">
                <div class="row">
                    <div class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <div class="title-principal-avis mt-4">
                            <h2>{{'Votre avis compte!'}}</h2>
                        </div>
                    </div>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nom'}}) }}
                    </div>

                    <div class="form-group mt-4">
                        {{ form_row(form.contenu, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre avis'}}) }}
                    </div>

                    <div class="mt-4">
                        <button class="btn btn-success mx-auto d-block" type="submit">{{ 'Valider' }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

           
                <!-- slider comment -->
                    <div class="slide-title-comment mt-5">
	                    <h2>{{'Ils nous ont rendu visite'}}</h2>
                    </div>
                    <div class="carousel-container d-flex justify-content-center mx-auto">
	                    <div id="carousel-comment" class="carousel slide" data-bs-ride="carousel">
		                    <div class="carousel-inner">
			                {% for avis in validatedAvis %}
			                    <div class="carousel-item carousel-item-comment {% if loop.first %}active{% endif %}">
					                <div class="container mt-5">
						                <div class="row">
							                <div
								class="col-md-8 offset-md-2 h-100">
						
								                <div class="card">
									            <div class="card-body">
									        	<h5 class="card-title">{{ avis.nom }}</h5>
										        <h6 class="card-subtitle mb-2 text-muted">{{ avis.createdAt|date('F j, Y') }}</h6>
										        <p class="card-text">{{ avis.contenu }}</p>
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carousel-comment" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">{{'Previous'}}</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carousel-comment" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">{{'Next'}}</span>
		</button>
	</div>
</div>
<br><br>
{% endblock %}

