{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
	<div class="row justify-content-center">
		<h1 class="title text-center">{{'Les services proposés par le parc'}}</h1>
		<h2 class="sub-title mt-3">{{'Venez déjeuner dans un environnement dépaysant!'}}</h2>
		<img src={{ asset('images/restaurant.jpg') }} class="service-img img-fluid d-block w-100 h-100" alt="restaurant">
		<div class="description-restaurant mt-4">
			<span class="highlights">{{'Un restaurant pour tous les goûts'}}</span>
			<p class="mt-3">
				{{
                    'Notre restaurant est situé au coeur du zoo. Vous pourrez déguster nos bons petits plats en ayant la compagnie de nos chers animaux.
                    <b>De la cuisine de notre terroir en passant par la cuisine méditérranée,</b>
                    nous proposons une offre variée qui répond à toutes vos envies.'
                }}
			</p>
		</div>
		<h2 class="sub-title mt-3">{{'Uns visite guidée des habitats'}}</h2>
		<img src={{ asset('images/visite-guidee.jpg') }} class="service-img img-fluid d-block w-100 h-100" alt="visite guidee habitat">
		<div class="description-visite-habitat mt-4">
			{{
                '<p>
                    Notre zoo abrite
                    <span class="highlights">une variété incroyable d\'animaux fascinants venus du monde entier.</span>
                    Nous sommes ravis de vous emmener dans une aventure passionnante à la découverte de la diversité de la vie sauvage.
                </p>
                <p>
                    À votre arrivée, notre équipe accueillante vous fournira
                    <b>un plan du zoo et des informations sur les horaires des différentes activités.</b>
                </p>
                
                <p>
                    Au cours de la visite, vous aurez l\'occasion de découvrir une variété d\'habitats
                    naturels soigneusement recréés pour nos animaux. De la jungle luxuriante
                    à la savane africaine, chaque habitat vous plongera dans un monde
                    différent.
                </p>
                <p>
                Préparez-vous à rencontrer une multitude d\'animaux étonnants! Nos guides expérimentés vous emmèneront à la rencontre de nos
                résidents les plus célèbres, des lions majestueux aux pandas ludiques. Profitez de nos activités interactives, notamment 
                des séances de photos avec les animaux et des ateliers éducatifs pour toute la famille.
                </p>'
            }}
		</div>
		<h2 class="sub-title mt-3">{{'Visite du zoo en petit train'}}</h2>
		<img src={{ asset('images/train.png') }} class="service-img d-block w-100 h-100" alt="petit train">
		<div class="description-petit-train mt-4">
			{{
                '<p>
                    <span class="highlights">
                        Bienvenue à bord de notre petit train pour une visite guidée unique au cœur de notre zoo !
                    </span>
                    <br>
                    <br>
                    <b>Préparez-vous à embarquer pour un voyage passionnant à travers les merveilles de la faune et de la flore!!</b>
                </p>
                <p>
                    À votre arrivée, rejoignez-nous à la station de départ du petit train. Notre équipe chaleureuse sera là pour vous
                    accueillir et répondre à toutes vos questions. Une fois à bord, détendez-vous et profitez du confort de notre petit train.
                </p>
                
                Nous commencerons notre voyage à travers le zoo, en vous emmenant dans les coins les plus reculés où vous pourrez découvrir
                nos animaux les plus fascinants.
                <br>
                Vous aurez l\'occasion d\'admirer une variété d\'habitats naturels, allant de
                
                <b>la jungle tropicale luxuriante à la savane africaine.</b>
                
                Chaque habitat est conçu pour offrir à nos animaux un environnement confortable et naturel. Tout
                au long du parcours, gardez les yeux ouverts ! Vous aurez l\'occasion de rencontrer
                
                <b>
                    multitude d\'animaux, des lions majestueux aux girafes élégantes, en passant par les éléphants majestueux.
                </b>
                <br>
                Nos guides experts seront à vos côtés pour vous fournir des informations fascinantes sur les animaux que vous rencontrerez.
                
                <br>
                Apprenez-en davantage sur leurs comportements, leurs habitudes et leurs habitats naturels. À la fin de la visite, 
                vous aurez du temps libre pour explorer le zoo à votre rythme mais aussi déjeuner dans notre restaurant.'
            }}
        </div>
    </div>
</div>
{% endblock %}
